<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>AccountSerlvet22</servlet-name>
    <servlet-class>servlet.AccountSerlvet22</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>ChangeStrategy</servlet-name>
    <servlet-class>servlet.ChangeStrategy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>servlet.AddAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>servlet.AddProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBasket</servlet-name>
    <servlet-class>servlet.ShowBasket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearBasket</servlet-name>
    <servlet-class>servlet.ClearBasket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayOrder</servlet-name>
    <servlet-class>servlet.PayOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>servlet.ShowOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetail</servlet-name>
    <servlet-class>servlet.OrderDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>servlet.StoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EbookServlet</servlet-name>
    <servlet-class>servlet.EbookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SellerServlet</servlet-name>
    <servlet-class>servlet.SellerServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>AccountSerlvet22</servlet-name>
    <url-pattern>/AccountSerlvet22</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ChangeStrategy</servlet-name>
    <url-pattern>/ChangeStrategy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBasket</servlet-name>
    <url-pattern>/ShowBasket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearBasket</servlet-name>
    <url-pattern>/ClearBasket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayOrder</servlet-name>
    <url-pattern>/PayOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetail</servlet-name>
    <url-pattern>/OrderDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EbookServlet</servlet-name>
    <url-pattern>/EbookServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>SellerServlet</servlet-name>
    <url-pattern>/SellerServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
